.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 80px 150px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 600;
    background: linear-gradient(264deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    min-width: 540px;
    color: #D8D8D8;
    font-size: 20px;
    min-height: 35px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contat-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contat-right label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contat-right input {
    border: none;
    width: 600px;
    height: 55px;
    padding-left: 20px;
    font-family: Outfit;
    background: #32323c;
    color: #A0A0A0;
    font-size: 24px;
    border-radius: 5px;
}

.contat-right textarea {
    width: 650px;
    border: none;
    padding: 25px;
    font-family: Outfit;
    border-radius: 5px;
    font-size: 20px;
    background: #32323c;
    color: #A0A0A0;
}

.submit-btn {
    border: none;
    outline: none;
    color: white;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    padding: 25px 55px;
    font-size: 22px;
    margin-bottom: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.05s;
}

&:hover {
    transform: scale(1.1);
    transition: 0.03s;
    color: bisque;
}

@media (max-width:768px) {
    .contact {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 700;
    }
    .contact-title img {
        width: 130px;
        margin-right: -20px;
    }
    .contact-section {
        flex-direction: column;
    }
    .contact-left h1 {
        font-size: 50px;
    }
    .contact-left p {
        font-size: 18px;
    }
    .contact-detail {
        gap: 20px;
    }
    .contact-detail img {
        width: 25px;
    }
    .contat-right-right label {
        font-size: 20px;
    }
    .contat-right-right input {
        width: 100%;
        font-size: 20px;
    }
    .contat-right textarea {
        width: 95%;
        font-size: 20px;
    }
    .submit-btn {
        padding: 15px 40px;
        font-size: 20px;
    }
}